{% extends 'base.html' %}

{% block main %}
    <main class="col-md-8">
    <div class="unit-1-2 unit-1-on-mobile">
        <form action="{% url 'publish:publishs' %}" method="post">
            {% csrf_token %}
                {# 实际上是label标签 #}
                {{ form.title.label_tag }}
                {# 实际上是input标签 #}
                {{ form.title }}<hr/>
                {{ form.tags.label_tag }}
                {{ form.tags }}<br>
                {{ form.tags.help_text|safe }}<hr/>
                {{ form.category.label_tag }}
                {{ form.category }}<hr/>
                {{ form.body.label_tag }}
                {{ form.body }}<hr/>
            <button type="submit" class="btn btn-primary">发表</button>
        </form>
    </div>
    </main>
{% endblock %}