{% extends 'base.html' %}
{% load custom_tags %}

{% block main %}
    <main class="col-md-8">
        <article class="post post-{{ post.pk }}">
            <header class="entry-header">
                <h1 class="entry-title">{{ post.title }}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="{{ post.grt_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
                    <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <div class="widget-tag-cloud">
                    <ul>
                        标签：
                        {% if post.tags.all %}
                            {% for tag in post.tags.all %}
                                <li>
                                    <a href="{% url 'blog:tag' tag.pk %}">
                                        {{ tag.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            没有标签
                        {% endif %}
                    </ul>
                </div>
                {{ post.body|safe }}
            </div>
        </article>
        <section class="comment-area" id="comment-area">
            <hr>
            <h3>发表评论</h3>
            <form action="{% url 'comment:post_comment' post.pk %}" method="post" class="comment-form">
                {#   跨站请求伪造保护  csrf:cross site request forgery #}
                {% csrf_token %}
                <div class="row">
                    {{ form.text }}
                    {{ form.text.errors }}
                </div>    <!-- row -->
            </form>
            <div class="comment-list-panel">
                <h3>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h3>
                <ul class="comment-list list-unstyled">
                    {% if post.comment_set.all %}
                        {# 引用自定义模板标签 build_comment_tree 传入参数 全部评论列表 post.comment_set.all #}
                        {% build_comment_tree post.comment_set.all %}
                    {% else %}
                        没有评论！
                    {% endif %}

                </ul>
            </div>
        </section>
    </main>
{% endblock %}

{% block toc %}
    <div class="widget widget-content">
        <h3 class="widget-title">文章目录</h3>
        {{ post.toc|safe }}
    </div>
{% endblock %}

