{% extends 'base.html' %}


{% block main %}
     <main class="col-md-8">
         {% if error_msg %}
            <p>{{ error_msg }}</p>
         {% endif %}
         {% for post in post_list %}
            <article class="post post-{{ post.pk }}">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h1>
                    <div class="entry-meta">
                        <span class="post-category"><a href="{{ post.get_absolute_url }}">{{ post.category.name }}</a></span>
                        <span class="post-date"><a href="#"><time class="entry-date"
                                                                  datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                        <span class="post-author"><a href="{% url 'users:usershow' user.pk %}">{{ post.author }}</a></span>
                        <span class="comments-link"><a href="{{ post.get_absolute_url }}#comment-area">{{ post.comment_set.count }} 评论</a></span>
                        <span class="views-count"><a href="#">{{ post.views }} 阅读</a></span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p> {{ post.exerpt }} </p>
                    <div class="read-more cl-effect-14">
                        <a href="{{ post.get_absolute_url }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                    </div>
                </div>
            </article>
        {% empty %}
            <div class="no-post">暂时还没有发布的文章！</div>
        {% endfor %}



        <!-- 简单分页效果
        <div class="pagination-simple">
            <a href="#">上一页</a>
            <span class="current">第 6 页 / 共 11 页</span>
            <a href="#">下一页</a>
        </div>
        -->

{#• ListView 传递了以下和分页有关的模板变量供我们在模板中使用：#}
{#• paginator ，即 Paginator 的实例。#}
{#• page_obj ，当前请求页面分页对象。#}
{#• is_paginated，是否已分页。只有当分页后页面超过两页时才算已分页。#}
{#• object_list，请求页面的对象列表，和 post_list 等价。所以在模板中循环文章列表#}
{#  时可以选 post_list ，也可以选 object_list。#}

        {% if is_paginated %}
            <div class="pagination">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true">&larr;</span>上一页</a></li>
                    {% endif %}
                    {% if first %}
                        <li><a href="?page=1">1</a></li>
                    {% endif %}
                    {% if left %}
                        {% if left_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                        {% for i in left %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    {% endif %}
                    <li class="active">
                        <a href="?page={{ page_obj.number }}">
                            {{ page_obj.number }}
                        </a>
                    </li>
                    {% if right %}
                        {% for i in right %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endfor %}
                        {% if right_has_more %}
                            <li><span>...</span></li>
                        {% endif %}
                    {% endif %}
                    {% if last %}
                        <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}">
                            下一页<span aria-hidden="true">&rarr;</span></a></li>
                    {% endif %}
                </ul>
                <div class="input-group">
                    <form method="get">
                       <input type="text" class="form-control" placeholder="请输入页码" name="page">
                       <button class="btn btn-default" type="button">跳转</button>
                    </form>
                </div>
            </div>
        {% endif %}
    </main>
{% endblock %}

